.expertises{
  margin-top: 2rem;
}

.valeurs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.valeur__card{
  background: var(--color-writing);
  border: 1px solid transparent;
  border-radius: 0.3rem;
  padding: 1.5rem;
}

.valeur__icon{
color: var(--color-CTA-hover);
font-size: 1.4rem;
margin-bottom: 0.5rem;
}

.check{
  color: var(--color-writing);
}

.presentation__container h2{
  margin-top: 2rem;
  margin-bottom:2rem ;
  color: var(--color-CTA);
}

.valeur__card h4{
  color: var(--color-bg);
  font-weight: 500;
}

.valeur__card h5{
  margin-top: 1rem;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {

}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
  .valeurs{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
