.constat__accompagnement{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.constat__enjeux{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.container.constat__container h2{
  color: var(--color-CTA);
  margin-top: 2rem;
}

.enjeu__card{
  border-right: 1px solid;
  padding-right: 1rem;
}

.accompagnement__card{
  background: var(--color-writing);
  padding: 1rem;
  color: var(--color-bg);
}

.accompagnement__card h4{
  color: var(--color-bg);
  font-weight: 500;
}

.accompagnement__card h5{
  color: var(--color-white);
}

.accompagnement__icon{
  color: var(--color-CTA-hover);
  font-weight: 500;
  font-size: larger;
}

.constat__faq h3{
  border-top: 2rem;
  color: var(--color-CTA);
}

.faq__item{
  margin-bottom: 1rem;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {

}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
  .constat__enjeux{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .constat__accompagnement{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 2rem;
  }
}
