navbar{
  width: 100%;
  height: 5rem;
  background: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index:2;
}

navbar .container2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

navbar button{
  display: none;
}

navbar .container2 ul{
  display: flex;
  height: 100%;
}

navbar .container2 ul li a{
  height: 100%;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-writing);
  position: relative;
  transition: var(--transition);
}

navbar .container2 ul li a:hover{
  color: var(--color-CTA);
}

navbar .container2 ul li a.active{
  color: var(--color-CTA);
}

navbar .container2 img {
}

/* MEDIA QUERIES (SMALL DEVICES) */

@media screen and (max-width: 600px) {

  navbar a{
    margin-left: 1rem;
  }

  navbar .container2{
    width: 100%;
  }

  navbar .container2 ul{
    position: fixed;
    top:0;
    flex-direction: column;
    z-index: 3;
    width: 15rem;
    height: 100vh;
    background: var(--color-bg);
    display: none;
  }

  navbar ul li{
    height: 4rem;
    width: 100%;
  }

  navbar .container2 ul li a{
    width: 100%;
    justify-content: start;
    padding-left: 2rem;
  }

  navbar .container2 ul li a:hover{
    padding-left: 3rem;
  }

  navbar button{
    display: inline-block;
    cursor: pointer;
    background: transparent;
    color: var(--color-writing);
    margin-right: 1rem;
  }

  navbar button#close-btn{
    display: none;
  }

}
