@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root{
  --color-bg:#001023;
  --color-bg-variant:#142D4B;
  --color-CTA:#2FD5AB;
  --color-CTA-hover:#F9D675;
  --color-writing:#7491AF;
  --color-writing2: rgba(255, 255, 255, 0.6);
  --color-white:#FFFFFF;
  --color-darkblue:#031A34;

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

hmtl{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}

h1{
  color: var(--color-white);
}

h2, h3{
  color: var(--color-writing);
}

h4{
  font-weight: 100;
  color: var(--color-writing2);
}

h5{
  font-weight: 100;
  color: var(--color-writing2);
}

body{
  font-family: "Poppins", sans-serif;
  background: var(--color-bg);
  color: var(--color-writing);
  line-height: 1.7;
}

/* GENERAL STYLES */

.container{
  width: var(--container-width-lg);
  margin: 0 auto;
}

.container2{
  width: 90%;
  margin: 0 auto;
}

section{
  margin-top: 5rem;
}

a{
  color: var(--color-writing);
  transition: var(--transition);
}

a:hover{
  color: var(--color-white);
}

.btn{
  width: max-content;
  display: inline-block;
  color: var(--color-writing);
  padding: 0.75rem 1.2rem;
  border-radius: 0.2rem;
  cursor: pointer;
  border: 1px solid var(--color-writing);
  transition: var(--transition);
  font-family: "Poppins", sans-serif;
}

.btn:hover{
  background: var(--color-CTA-hover);
  color: var(--color-bg);
}

.btn-primary {
  background: var(--color-CTA);
  color: black;
}


/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
  .container{
    width: var(--container-width-md);
  }

  section{
    margin-top: 6rem;
  }
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
  .container{
    width: var(--container-width-sm);
  }

  section{
    margin-bottom: 2rem;
  }

  h1{
    font-size: 1.8rem;
  }

  h2{
    font-size: 1.5rem;
  }

  h3{
    font-size: 1.2rem;
  }

  h4{
    font-size: 1rem;
  }

  h5{
    font-size: 0.8rem;
  }
}
